li {
  padding: 5px;
  margin: 5px;
  background: #9acd32;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background:red;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background-image: url('/assets/img/3burgers.jpg')
}

body {
  color:white;
  font-size: 25px;
  text-align: center;

}

h1 {
  color:rgb(145, 255, 0);
  font-size: 90px;
}
